autopep8
blis
catalogue
certifi
charset-normalizer
click
cycler
cymem
dill
docker-pycreds
fastai=
fastcore
fastdownload
fastprogress
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
kiwisolver
langcodes
loguru
MarkupSafe
matplotlib
murmurhash
numpy
opencv-python
packaging
pandas
pathlib
pathtools
pathy
pep8-naming
Pillow
preshed
prospector
protobuf
psutil
pydantic
pylint
pylint-celery
pylint-django
pylint-flask
pylint-plugin-utils
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
sentry-sdk
setproctitle
shortuuid
six
smart-open
smmap
snowballstemmer
spacy
spacy-legacy
spacy-loggers
srsly
termcolor
thinc
threadpoolctl
tomli
torch 
torchvision 
tqdm
typer
typing-extensions
urllib3
wandb
wasabi
wrapt
zipp
